/* Variables */
:root{
    /* --name: value */
    --main-bg-color: #fff;
    --main-text-color: #E5E5E5;
    --main-font-family: 'Ubuntu', sans-serif;
    --main-font-weight: 400;
    --main-font-size: 14px;
}
/* Container */
.container {
    max-width: 1215px;
    padding: 0 15px;
    margin: 0 auto;
}
/* Same codes */
*{
    box-sizing: border-box;
}
/* Html and Body */
html,
body{
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
    line-height: 1;
}
/* Sections */

/* HEADER SECTION */
.header {
    padding: 53px 0px 117px 0px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(27.58 / 24 * 100%);
    color: #202020;
    text-decoration: none;
    transition: all 0.2s linear;
}
.header__logo:hover{
    opacity: 0.8;
}
.header__logo:active{
    opacity: 0.6;
}
.header__logo-img {
    margin: 0px 25px 0px 0px;
}
.header__logo-text {
}
.header__nav {
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
}
.header__nav-item:not(:last-child){
    margin: 0px 37px 0px 0px;
}
.header__nav-link {
    text-decoration: none;
    font-weight: 700;
    line-height: calc(16.09 / 14 * 100%);
    color: #202020;
    transition: all 0.2s linear;
}
.header__nav-link:hover{
    color: #5528FF;
}
.header__nav-link:active{
    color: #5528FF;
    opacity: 0.8;
}
.header__nav-btn {
    font-weight: 700;
    line-height: calc(16 / 14 * 100%);
    border-radius: 5px;
    background-color: #5528FF;
    color: #fff;
    padding: 4px 14px;
    text-decoration: none;
    transition: all 0.2s linear;
}
.header__nav-btn:hover{
    opacity: 0.8;
}
.header__nav-btn:active{
    opacity: 0.6;
}
.header__menu {
    display: none;
}
.fa-solid {
}
.fa-bars {
}

/* CONTENT SECTION */
.content {
    padding: 0px 0px 100px 0px;
}
.content__container {
}
.content__title {
    font-weight: 700;
    font-size: 57px;
    line-height: calc(65.49 / 57 * 100%);
    color: #202020;
    /* text-align: center; */
    margin: 0px 0px 35px 0px;
}
.content__text {
    max-width: 743px;
    font-size: 32px;
    line-height: calc(51.48 / 32 * 100%);
    color: #4f4f4f;
    margin: 0px 0px 70px 0px;
}
.content__btn {
    font-size: 24px;
    line-height: calc(27.58 / 24 * 100%);
    padding: 16px 58px;
    border-radius: 10px;
    background-color: #5528FF;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear;
}
.content__btn:hover{
    opacity: 0.8;
}
.content__btn:active{
    opacity: 0.6;
}