/* Variables */
:root{
    /* --name: value */
    --main-bg-color: #b2b2b2;
    --main-text-color: #E5E5E5;
    --main-font-family: 'Ubuntu', sans-serif;
    --main-font-weight: 400;
    --main-font-size: 14px;
}
/* Container */
.container {
    max-width: 1215px;
    padding: 0 15px;
    margin: 0 auto;
}
/* Same codes */
*{
    box-sizing: border-box;
}
/* Html and Body */
html,
body{
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
    line-height: 1;
}
/* Sections */